<div id="individualTopicContainer">
    <h2> <%= @topic.title %> </h2>

    <ul>
    <% @topic_tutorials.each do |tutorial| %>
            <li> <a href="/tutorials/<%=tutorial.id %>"> <%= tutorial.title %> </a> </li>
    <% end %>
    </ul>
</div>