<div id="individualTopicContainer">
    <h2> Index </h2>
    
    <ul>
    <% @tutorials.order('title ASC').each do |tutorial| %>
            <li> <a href="/tutorials/<%= tutorial.id %>"> <%= tutorial.title %> </a> </li>   
    <% end %>
    </ul>
    
    <%= link_to 'Back', :back %>
</div>