<div id="individualSubjectContainer">
    <h1> <%= @subject.title %> </h1>
    <% if @subject.figures.blank? == false %>
        <% @subject.figures.each do |image| %>
            <%= image_tag image %> <br/>
        <% end %>
    <% end %>

    <p> <%= @subject.definition %> </p>

    <%= link_to 'Back', :back %>
</div>