body {
    background-color: #005b96;
    font-family: 'Open Sans', sans-serif;
}

nav {
    background-color: #DFDFDF;
    display: flex;
    justify-content: space-between;
}

form {
    display: table;
    background-color: #DFDFDFBF;
    margin: auto;
    padding: 5px;

    .field {
        display: table-row;

        label {
            display: table-cell;
        }

        input {
            display: table-cell;
        }
    }
}

#fixedMenu {
    position: fixed;
    background-color: #F7F9F9B3;
    border-radius: 0 5px 5px 0;
    padding-right: 8px;

    #mainList li {
        border: 1px dotted black;

        a {
            text-decoration: none;
            color: #6DA8A0;
        }
    }

    .nestedList li {
        background-color: #DFDFDF80;
        list-style: none;
    }
}