#topicsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5%;

    #topicsHeader {
        width: 100%;

        h1 {
            font-size: 4vw;
            color: #054875;  
            text-align: center;
        }
        
    }
    .individualTopic {
        background-color: #DFDFDF;
        box-shadow: 8px -8px #bfbfbd;
        border-radius: 15px;
        flex: 34%;
        margin: 8%;
        height: 30vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;

        img {
            max-width: 10vw;
        }

        a {
            text-decoration: none;
            color: #4080AA;
            text-align: center;
        }
        span a {
            text-decoration: none;
            color: #80C5C9;
        }
    }
}

.android-guide {    
    position: fixed;
    top: 3%;
    right: 2%;
    z-index: 5;

    .speech-bubble { 
        position: relative; 
        background: #F7F9F9B3; 
        border-radius: 50%;
        box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.4);
        height: 100px;
        width: 300px;
        text-align: center;

        p {
            position: relative;
            top: 37%;
        }
    } 

    .speech-bubble:after { 
        content: ''; 
        position: absolute; 
        bottom: 0; 
        left: 50%; 
        width: 0; 
        height: 0; 
        border: 20px solid transparent; 
        border-top-color: #F7F9F9B3; 
        border-bottom: 0; 
        border-right: 0;
        box-shadow: 4px 0 0 rgba(0, 0, 0, 0.4);
        margin-left: -10.5px; 
        margin-bottom: -20px;
    }

    img {
        position: absolute;
        right: 0;
    }
     
}

#individualTopicContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    height: 90%;
    overflow: scroll;
    
    h2 {
        font-size: 8vw;
    }
    ul {
        width: 75%;

        li {
            list-style: none;
            background-color: #DFDFDF;
            border: 2px dotted #9CB1AE;
            border-radius: 10px;
    
            a {
                text-decoration: none;
                color: #8FC1BA;
                font-size: 6vw;
            }
        }
    }
}