#individualTutorialContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DFDFDFBF;
    flex-flow: column wrap;
    margin: 5%;
    border-radius: 10px;

    span {
        text-align: center;
        width: 100%;

        img {
            max-width: 75%;
            margin: 0 2%;
        }
    
    }

    h3 {
        text-align: center;
        width: 76%;
    }


    ul {
        width: 75%;

        li {
            background-color: #DFDFDF;
            border: 2px dotted #9CB1AE;
            font-size: 6vw;
            padding: 2vw;

            a {
                text-decoration: none;
                color: #8FC1BA;
                font-size: 6vw;
            }

            span {
                font-size: 1.5vw;
                display: flex;
                justify-content: flex-end;

                a {
                    font-size: 1.5vw;
                    color: #4080AA;
                    text-align: right;
                }
            }
        }
    }
}